h1 {
    font-size: 25px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

button {
    margin-bottom: 1.8rem;
}

footer {
    text-align: center;
    padding-top: 3rem;
}

footer a {
    display: block;
    margin-bottom: 0.8rem;
}